*{
     margin: 0;
     padding: 0;           
}
#containerprincipal{
     max-width: 1000px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: auto;
}
#conteudo-principal{
     width: 700px;
     background-color: #000000;
}
#texto-pagina{
     max-width: 500px;
     min-width: 320px;
     margin: auto;
     padding-left: 10px;
     padding-right: 5px;
     color: #d6d4d4;
}
.paragrafo{
     font-family: helvetica;
     margin-top: 30px;
     margin-bottom: 30px;
     line-height: 120%;
}
#lista{
     margin-bottom: 30px;
     font-family: helvetica;
     list-style-type: square;
     list-style-position: inside;
}
#img-pontochurrasco{
     width: 210px;
     display: block;
     margin: auto;
}
#espaco-churrascometro{
     width: 230px;
     background-color: #E5784F;
     display: flex;
     flex-direction: column;
     align-items: center;
}
#titulo-churrascometro{
     margin-top: 10px;
     font-size: 28px;
     font-family: 'Lobster', cursive;
}
.titulo-campo{
     font-size:18px ;
     font-family: 'Roboto', sans-serif;
     color: white;
     margin-top: 10px;
}
.campo-dados{
     padding: 3px;
     text-align: center;
     font-family: sans-serif;
     font-weight: 600;
}

#btncalculo{
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     padding: 2px 5px 2px 5px;
     margin-top: 15px;
}
#resultado{
     margin-top: 60px;
     text-align: center;
     font-family: sans-serif;
}
.imagensresultado{
     width: 50px;
}
#aproveite{
     margin-top: 20px;
     font-family: 'Lobster', cursive;
}
@media screen and(max-width: 400px){
     body{
          background-color: #000000;
     }
     #espaco-churrascometro{
          width: 230px;
          background-color: #E5784F;
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}
