*{
                margin: 0;
                padding: 0;
}
body{
                background-image: url(imagens/fundo2.0.png);
}
main{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                max-width: 1300px;
                min-width: 320px;
                padding-top: 20px;
                margin: auto;
}
h1{
                text-align: center;
                padding-top: 10px;
                font-family: bebas neue;
                font-weight: normal;
                font-size: 4.5em;
                color: #F5D02F;
                text-shadow: 2px 2px 2px black;
}
#container{   
                display: block;
                width: 500px;
                height: 500px;
                background-color: rgba(0, 0, 0, 0.699);
                border-radius: 15px;
}
h4{
                text-align: center;
                font-family: Helvetica, sans-serif;
                font-size: 2em;
                color:#F5D02F; 
                text-shadow: 2px 2px 2px black;
                margin-top: 20px;
}

#container_informacoes{
                text-align: center;
                margin-top: 40px;
}
#container input{
                width: 250px;
                padding: 5px;
                margin-bottom: 15px ;
                font-size: 1.1em;
                background-color: rgb(235, 229, 229);
                font-weight: 700 ;
}
#container label{
                display: block;
                font-size: 1.5em;
                font-family: Helvetica, sans-serif;
                margin-bottom: 5px;
                color: white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
}
button{
                padding: 7px;
                font-weight: bold;
                font-size: 1.1em;
                background-color: black;
                color:rgb(235, 229, 229);
                border-style: none;
                border-radius: 5px;
}
button:hover{
                background-color: rgb(235, 229, 229);
                color: black;
}

#resultado {
                text-align: center;
                display: block;
                width: 500px;
                height: 500px;
                background-color: rgba(0, 0, 0, 0.699);
                border-radius: 15px;
                

}
#resultado h4{
                font-size: 2em;
}
#resultado > p {
                margin-top: 60px;
                font-family: helvetica, sans-serif;
                font-size: 1.5em;
                color: white;
}